# Compilación y archivos generados por Maven
/target/
*.class
*.jar
*.war
*.ear
*.rar

# Archivos de configuración de NetBeans
nbproject/private/
build/
dist/
nbproject/project.xml.cfg
nbproject/project.properties.cfg

# Archivos de configuración de IDEs (VS Code / IntelliJ / Eclipse)
.vscode/
.idea/
*.iml
.settings/
.project
.classpath

# Logs y archivos temporales del sistema
*.log
.DS_Store
Thumbs.db